@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem; /* Ajustar el tamaño de fuente para dispositivos móviles */
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  font-size: 1.3rem;
}

.flags{
  width: 75px;
  display: flex;
  flex-wrap: wrap;
}

.flags_item {
  width: 30px;
}

.flags_item img
{
  display: block;
  cursor: pointer;
}

.wrapper
 {
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  color: #fff;
  flex-wrap: wrap;
}

.skillsotro
{
  width: 100vw;
  height: 130vh;
  background-color: #0d0d0d;
  color: #fff;
  flex-wrap: wrap;
}

.illust {
  width: 100vw;
  height: 220vh;
  flex-wrap: wrap;
}

.skills {
  width: 100vw;
  height: 80vh;
  background-color: #0d0d0d;
  flex-wrap: wrap;
}

.SKILLSCode{
  width: 100vw;
  height: 120vh;
  background-color: #0d0d0d;
  flex-wrap: wrap;
}
.portfolio2{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify.content: center;
  flex-wrap: wrap;
}

.portfolio3{
  width: 100%;
  height: 20vh;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.portfolio
{
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  color: #fff;
  display flex
  flex-wrap: wrap;
}

.portfolio4
{
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  color: #fff;
  flex-wrap: wrap;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.7rem;
}

.social a {
  display: grid;
  place-items: center end;
  text-decoration: none;
  color: #ffff;
  font-size: 1.5rem;
  border: 1.6px solid #85e1ff;
  border-radius: 50%;
  padding: 0.39rem;
  text-align: center;
}

.social a:hover {
  color: #0d0d0d;
  background-color: #85e1ff;
  box-shadow: 0 0 20px #85e1ff;
  transition: all .3s ease-in-out;
}
.brand span {
  color: #85e1ff;
  font-size: 2rem;
}

.brand {
  margin-top: -7px;
}

.menu {
  display: flex;
  width: 50%;
  font-size: 1.1rem;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
}

.menu .active{
  color: #85e1ff;
}

.about-info p {
  font-weight: 520;
}

.menu a:hover{
  font-weight: 550;
  background-color: #85e1ff;
  color: #0d0d0d;
  transition: ease-in 0.5s;
}

.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

h1{
  font-size: 3em;
  color:  #85e1ff
}

.SKILLStitle h2 {
  margin-left: 220px;
  padding: 100px;
  font-size: 2.6em;
  color:#85e1ff;
}

span {
color:  #ffffff;
}

.download-cv{
  padding: 10px 20px;
  background-color: #85e1ff;
  border-radius: 20px;
  border: none;
  font-weight: 550;
  margin-top: 20px;
  cursor: pointer;
  box-shadown: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}


.download-cv:hover{
  transition: ease-in 0.3s;
  background-color: #ffff;
  box-shadow: none;.
  animation: bn54rotate 0.7s ease-in-out both;
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.main img {
  width: 320px;
  border: 10px solid #85e1ff;
  border-radius: 5px;
  height:
}


.info-content {
  margin-bottom: 20px;
}

.imagen-container {
  position: relative;
  margin-left: 50px;
}

.imagen {
  transition: opacity 0.4s ease;
}

.imagen.hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.imagen-container:hover .imagen.hover {
  opacity: 1;
}

.bn54 {
  margin-top: 20px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  opacity: 1;
  background-color: #85e1ff;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-left: 20px;
}

.bn54 .bn54span {
  font-family:  'Montserrat', sans-serif;
  color: #242424;
  font-weight: 550;
  letter-spacing: 0.7px;
}

.bn54:hover {
  transition: ease-in 0.3s;
  background-color: #0d0d0d;
  box-shadow: none;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
  color: #ffff;
}


@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.about
{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  background-color: #ffff;
}

.about img
{
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
  color: #242424;
}

.about-info h2{
  font-size: 4em;
  color: #242424;
}

.divider {
  height: 20px;
  width: 200px;
  background-color: #85e1ff;
  margin-top: 6px;
  margin-bottom: 2em;
  border-radius: 25px;
  transition: transform 0.4s ease;
}

.divider:hover {
  transform: translateX(115px);
}


.about-p {
  margin-bottom: 2em;
}

.portfolio-headings {
  width: 100vw;
  padding: 3em;
}

.portfolio-headings h2{
  font-size: 3em;

}


.portfolio   .containers{
  width: 80vw;
  height: 88vh;
  margin: 0 auto;
  display:flex;
}

.containers{
  width: 80vw;
  height: 88vh;
  margin: 0 auto;
}
-------------------------------------------------------

body{
    display:flex;
    margin:0;
    padding:0;
    background: #444;
    justify-content: center;
    align-items: center;
    font-family: arial;+
  }

  .container{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    background-color: #4d4d4d;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;



  }

  .container .card{
    margin: 0;
    margin-left: 30px;
    margin-top: 80px;


  }

  .container .card .face{
    width:350px;
    height: 200px;
    transition:.4s;
    margin-left: 80px;
    display: flex;

  }

  .container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }

  .container .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #02b1eb, /* Celeste claro */
      inset -20px 0 80px #29b9ff, /* Azul claro */
      inset 20px 0 300px #009dff, /* Azul medio */
      inset -20px 0 300px #02b1eb, /* Celeste muy claro */
      0 0 50px #02b1eb, /* Celeste muy claro */
      -10px 0 80px #02b1eb, /* Celeste muy claro */
      10px 0 80px #02b1eb; /* Celeste muy claro */
  }



  .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;


  }

  .container .card:hover .face.face1 .content{
    opacity: 1;

  }

  .container .card .face.face1 .content i{
    font-size: 2em;
    color: white;
    display: inline-block;
    margin-left: 20px;

  }

  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
    margin-left: 20px;


  }

  .container .card .face.face1 .content a{
     transition: .5s;
  }

  .container .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }

  .container .card:hover .face.face2{
      transform: translateY(0);


  }

  .container .card .face.face2 .content p, a{
    font-family: arial;
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
    font-weight: 550;
    margin-left: 10px;
  }

  .container .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }

  .container .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }

  .cards__title {
    margin-top: -70px;
  }
---------------------------------

.slash {
  color: #85e1ff;
}

.text__img {
    padding: 5px;
    margin-left: 500px;
    margin-top: -180px;

  }

  .text1__img:hover {
    color:#85e1ff;
    cursor: pointer;
  }

  .container13 {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    margin-left: 70px;
    margin-top: -20px;
  }

  .cartad {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.8);
  }

  .cartad > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }


  .cartad > .row > .icon {
    background: #000000;
    font-weight: bold;
    color: #ffffff;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

  }


  .cartad > .row > .description
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
  }

  .description p {
    color: #707070;
    padding-top: 2px;
    font-weight: 550;
  }

  .description h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
  }
input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity:1 !important;
  transform: translateY(0) !important;
}

.cartad[for="c1"] {
}

.TITTLE h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 70px;
}

.TITTLE2 h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  font-size: 70px;
  padding: 30px;
}


.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
  margin-left: 0;



}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px; /* Establecer el espacio entre las columnas */
  padding: 10px;
  flex: none;
}

.gallery div img{
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
  height: auto;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  margin-top: -20px;
  height: 100vh;
}

#backBtn, #nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 20px;
}

.gallery div img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}


-----------------------------------------
.modal {
  position: fixed;
  top: 0%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 20%;
}

.modal img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: -55px;
  margin-left: 480px;
  filter: grayscale(100%);
  transition: transform 0.5s;
  background-color: transparent;
}



.modal img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1); }


  .dividers1{

    bottom: 0;
    opacity: 0;
    left: 1000;
    height: 50px;
    width: 400px;
    background-color: #ff2693;
    margin-top: -700px;
    margin-bottom: 2em;
    margin-left: 870px;
    border-radius: 25px;
    transition: opacity 0.4s ease;
    transform: scale(1.8);
  }

    .modal:hover .dividers1 {
      opacity: 1;
      transition: opacity 0.4s ease;

  }

  .info{
    padding: 5px;
  }

.info h3{
  color: #fff;
  font-size: medium;
  margin-left: 10px;
}

.info p {
 color: #fff;
 font-size: small;
 font-weight: 600;
 margin-left: 10px;
}


----------------------------


.scroller {
  max-width: 900px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}


.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}




.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #85e1ff;
  border-radius: 0.5rem;
  color: #85e1ff;
}

.skills13
{
  text-align: center;
  color: #ffff;
  font-weight: 550;
  font-size: 2.6em;
  padding: 20px;
}

.skillsicons img {
  border: 0px solid black;
  border-radius: 30px;
  margin: 10px;
}

.skillsicons img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.skillsiconsywords
{
  padding: 40px;
}

.name ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin-right: 250px;
}

.name{
  text-align: center;
}
.name li{
  color: #ffff;
  font-weight: 550;
  display: inline;
  margin-left: 55px;
}

.skillsicons  {
  display: flex;
  flex-wrap: wrap;
}

.skillsicons img:hover .name {
  opacity: 1; /* Muestra el texto al pasar el cursor sobre el contenedor */
}
--------------------------------------------------------------


*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.containercont{
	width: 100%;
  margin-top: -200px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  font-weight: 600;
}
.containercont .rowe{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.rowe section.col{
	display: flex;
	flex-direction: column;
}
.rowe section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.rowe section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #ddd;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #888;
	top: 120%;
	left: 0;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: #29b9ff;
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 17px;
	color: #ccc;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid #29b9ff;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #888;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}
section.left .socialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}
.socialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: #29b9ff;
	transition: 0.4s;
}
.socialMedia a i{
	color: #ddd;
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.socialMedia a:hover{
	transform: translateY(-5px);
	background-color: #2e2e2e;
	color: dodgerblue;
	border: 1px solid dodgerblue;
}
.socialMedia a:hover i{
	color: dodgerblue;
}

/* Code for the right section (column) */

.row section.right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: #29b9ff;
	color: #29b9ff;
	border: none;
	border-bottom: 2px solid #666;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: #29b9ff;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: dodgerblue;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color: #29b9ff;
	color: #ddd;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #2e2e2e;
	color: dodgerblue;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid dodgerblue;
}
@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.container .row{
		flex-wrap: wrap;
	}
	.rowe section.left, .rowe section.right{
		flex-basis: 100%;
		margin: 0px;
	}
}

